.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  background:linear-gradient(black, rgba(112, 7, 59, 0.719) );
}